@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
   --font-sans: "Nunito Sans", sans-serif;
   --color-primary: #0960AC;
   --color-muted:#5B5F67;
   --color-accent: #D8E3F8;
   --color-accent-secondary: #D8CAFC;
   --color-muted-secondary:#4B416A;
   --color-light: #F9FAFB;
   --color-bg: #f8f9ff;
   --color-surface: #F2F3FA;
   --gradient-primary: linear-gradient(135deg, #0960AC 0%, #5d9cec 100%);
   --transition: 0.3s ease;
}

html {
   scroll-behavior: smooth;
   color: #2E333A;
}

body {
   font-family: "Nunito Sans", sans-serif;
}

.react-modal-sheet-header {
   height: 16px !important;
}