<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%clr(%-5level)] [%X{requestId:-}] [%X{user:-}] %logger{36} %msg%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
	<logger name="com.RAP.backend" level="INFO"/>
	<logger name="org.springframework.amqp" level="WARN"/>
	<logger name="org.hibernate.SQL" level="WARN"/>
</configuration>
